<a href="https://colab.research.google.com/github/rudyselman/trade/blob/master/Swing_Finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

potential trade triggers:
1. low vol pin bar http://prntscr.com/rg3go1
2. Scenario B: consecutive bars of same direction with decreasing vol. http://prntscr.com/rg3kf1
3. if I identify lots of similar swing prices in a short span of time I can do trades to catch stop hunts http://prntscr.com/rgz9js - or swing size to fractal size is high and daily range is small (which would mean theres lots of volatility going nowhere)

Zones creation:

2. http://prntscr.com/rg3kf1 ( Scenario A: high volume bars that are follwed by a lower vol bar and an impulse. Entry could be a low vol opposing candle in zone.  All candles from Scenario B could also be used as a zone. Low vol rejections.  Prior swings at the same price area could be a rating factor.

In [0]:
import pandas as pd
import datetime as dt
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

pd.set_option('display.max_rows', 100)

df = pd.read_csv('drive/My Drive/Colab Notebooks/EURUSD15.csv')

# daily = pd.read_csv('drive/My Drive/Colab Notebooks/EURUSD1440.csv')
# daily = daily.set_axis(['Date', 'Time','O','H','L','C','V'], axis=1, inplace=False)



# # this stuff was to format the original file but is no longer needed

# df = df.set_axis(['Date', 'Time','O','H','L','C','V'], axis=1, inplace=False)
# df['DT'] = df['Date'] + ' '+df['Time']
# df['DT'] = pd.to_datetime(df['DT'])
# df.drop(columns=['Date','Time'],inplace=True)
# df = df.reindex(columns=['DT','O','H','L','C','V','D_Range','ADR','Frac_H','Frac_L'])
# df['Datetime'] -= pd.Timedelta(hours=7) # minus 7 hours to match CST



# if you want to re-iterate over the highs and lows un-comment these lines:

# df['Locked_H'] = 0
# df['Locked_L'] = 0
# df['Swing'] = 0

# df = df[64000:]

# df.reset_index(drop=True,inplace=True)  # reset the index (numbers are missing)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Get Daily Range

In [0]:

for i in df['DT'].dt.date.unique():
  group = df.groupby(df['DT'].dt.date).get_group(i)
  dayrange = max(group['H']) - min(group['L'])
  df.loc[group.index,'D_Range'] = dayrange

In [0]:
df.tail()

                       DT        O        H  ...  Locked_H  Locked_L  Swing
65278 2020-03-13 21:45:00  1.10696  1.11147  ...         0         0      0
65279 2020-03-13 22:00:00  1.11132  1.11168  ...         0         0      0
65280 2020-03-13 22:15:00  1.10806  1.10975  ...         0         0      0
65281 2020-03-13 22:30:00  1.10957  1.11157  ...         0         0      0
65282 2020-03-13 22:45:00  1.11077  1.11158  ...         0         0      0

[5 rows x 13 columns]

alright groupby is my forever friend from now on. 

#Get ADR

There are 96 15m candles per day and I want a 10 day average.  This will give me an index error so it needs a try block

In [0]:
for i in range(0, len(df)):
    try:
      df.loc[i,'ADR'] = round(df.loc[i-960:i,'D_Range'].mean(),5)
    except:
      pass

# Identify Fractals

For each bar, walk forwards and backwards to see how far you get while the high remains highest high. Do this individually for both the highs and the lows. While walking forward see how far price moved away from that fractal. The smaller of the 2 counts will be used as the fractal rating.

There are 4 try blocks total for the highs, lows, forwards, and backwards. Exceptions are hit when the loop reaches either end of the df. I need these to know whether a row can be locked from further iterations.

While a market is unfolding the fractals will need to be recalculated for each bar until the forward walk value has been determined with no errors. Once that happens the value will be locked in place and even though prior fractals may need to be reiterated over, the locked ones will not. This pic show's a locked fractal while a previous fractal needs to still be re-iterated into the future. http://prntscr.com/rhc9zt

Unfortunately to account for edge cases I need to create a column specific to highs and lows. 

There is also a time limit for a fractal to be locked.  Once it is the highest high/lowest low for 120 bars it will be considered a major swing and there's no need to know the exact bar count beyond that.

In [0]:
# %%timeit
highs = df.loc[:,'H'].values
lows = df.loc[:,'L'].values 

for i in range(0, len(df)): 
  low = lows[i]
  high = highs[i]
 
  # the order below is highs forwards, highs backwards

  if not df.loc[i,'Locked_H']:
    try:   # iter forwards 
      count_prior = 0   # initialize counters and such
      count_next = 0
      next_ = i + 1
      prior_ = i - 1

      while high > highs[next_] and count_next < 120: # iter limit
        next_ +=1
        count_next +=1
      df.loc[i,'Locked_H'] = 1 # if it hasn't error'd lock the row 
    except:
      pass

    try: # iter backwards
      while high >= highs[prior_] and count_prior < 120: 
        prior_ -=1
        count_prior +=1
    except:
      pass 
    df.loc[i,'Frac_H'] = min([count_prior, count_next])
    try: # this will return the swing size if frac > 1
      if df.loc[i,'Frac_H'] > 1:
        df.loc[i,'Swing'] = min(lows[i+1:i+count_next]) - high
    except:
      df.loc[i,'Swing'] = 0

  # now the same thing but for the lows
  if not df.loc[i,'Locked_L']:
    try: # iter forwards 
      count_prior = 0
      count_next = 0
      next_ = i + 1
      prior_ = i - 1

      while low < lows[next_] and count_next < 120: 
        next_ +=1
        count_next +=1
      df.loc[i,'Locked_L'] = 1 # if it hasn't error'd set the lock value 
    except:
      pass

    try: # iter backwards
      while low <= lows[prior_] and count_prior < 120: 
        prior_ -=1
        count_prior +=1
      
    except:
      pass
    df.loc[i,'Frac_L'] = min([count_prior, count_next])

    # find swing distance
    # only overwrite if the new value is greater than the last
    try:  
      if (max(highs[i:i+count_next]) - low > abs(df.loc[i,'Swing'])
          and df.loc[i,'Frac_L'] > 1):
        df.loc[i,'Swing'] = max(highs[i+1:i+count_next]) - low
    except:
        pass

In [0]:
df

                       DT        O        H  ...  Locked_H  Locked_L    Swing
0     2017-07-27 13:45:00  1.17102  1.17102  ...         1         1  0.00000
1     2017-07-27 14:00:00  1.17047  1.17129  ...         1         1 -0.00629
2     2017-07-27 14:15:00  1.17085  1.17112  ...         1         1  0.00000
3     2017-07-27 14:30:00  1.17048  1.17098  ...         1         1  0.00000
4     2017-07-27 14:45:00  1.17041  1.17044  ...         1         1  0.00182
...                   ...      ...      ...  ...       ...       ...      ...
65278 2020-03-13 21:45:00  1.10696  1.11147  ...         1         0  0.00000
65279 2020-03-13 22:00:00  1.11132  1.11168  ...         0         1 -0.00372
65280 2020-03-13 22:15:00  1.10806  1.10975  ...         1         0  0.00000
65281 2020-03-13 22:30:00  1.10957  1.11157  ...         1         0  0.00000
65282 2020-03-13 22:45:00  1.11077  1.11158  ...         0         0  0.00000

[65283 rows x 13 columns]

# Swings

I need to know the swing size in relation to the average daily range in order for it to mean anything.

Also, a fractal size needs to correlate to its swing size.  A large fractal with a tiny swing is mostly irrelevent as that would signify a sideways market. Likewise a large swing on a tiny fractal would signify it was just a slight pullback within a larger swing. Here is an example: http://prntscr.com/rhc2qh

In that situation it would be best to only look at the fractals from further up. 

So I also need a swing rating which will be a combination of fractal size and swing%.

In [0]:
# get the swing in relation to ADR
df['Swing%'] = round(df['Swing']/df['ADR'], 2)

# get the swing rating in relation to fractal size
temp = df[abs(df['Swing']) > 0]
df['Sw_Rating'] = (abs(temp['Swing%']*15) + temp['Frac_H'] + temp['Frac_L']) / 2
# technically thats not perfect but it will work for most cases
# and I can come back to it later


```
df['Sw_Rating'].describe()

count    17555.000000
mean         8.498616
std         12.295569
min          1.075000
25%          2.425000
50%          4.150000
75%          8.700000
max         94.975000
Name: Sw_Rating, dtype: float64
```
# Conclusion

My original idea was just to map peaks and troughs so I can identify when certain patterns happen.  I can use the swing ratings though for a variety of things like:
- creating adaptive support and resistance zones that will remain valid for a time period in relation to the swing ratings that created it
- looking for small swings near each other where each one is progressively higher or lower and volume is fading
- other cool things I can't think of

In [0]:

# overwrite the file

df.to_csv('EURUSD15test.csv', index=False)
!cp EURUSD15test.csv "drive/My Drive/Colab Notebooks/"  

# daily.to_csv('EURUSD1440.csv', index=False)
# !cp EURUSD1440.csv "drive/My Drive/Colab Notebooks/"

# Zone finder

This might be more aptly called "areas of interest" as I don't know if im interested in making true sup/dem zones

In [0]:
df = df[-1000:]

' i need to somehow get each row to recognize its index, rather\nthan supply the index. perhaps a lamba function...?'

In [1]:
test

NameError: ignored